.meu-navbar, h1, h2 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}
.meu-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0d0d0d;
    border-bottom: 1px solid #FFD700;
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.2);
    position: sticky;
    top: 0;
    z-index: 999;
}

.img img {
    width: 360px;
    filter: drop-shadow(0 0 8px #00bcd4);
}

.minha-lista ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.minha-lista a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    padding: 6px 0;
    transition: 0.3s ease;
}

.minha-lista a:hover {
    color: #FFD700;
}

.minha-lista a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #00bcd4;
    box-shadow: 0 0 8px #00bcd4;
    transition: 0.3s ease-in-out;
}

.minha-lista a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #00bcd4;
    box-shadow: 0 0 6px #00bcd4;
    border-radius: 5px;
    transition: 0.3s;
}


@media (max-width: 850px) {
    .hamburger {
        display: flex;
    }

    .minha-lista {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: #0d0d0d;
        border-top: 1px solid #00bcd4;
        box-shadow: 0 0 20px rgba(0, 188, 212, 0.3);
        display: none;
        flex-direction: column;
        padding: 20px 0;
        animation: fadeIn 0.3s ease;
    }

    .minha-lista ul {
      list-style: none;
        flex-direction: column;
        gap: 18px;
        text-align: center;
    }

    .minha-lista a {
        font-size: 1.3rem;
    }


    .minha-lista.active {
        display: flex;
    }


    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}

